API_GATEWAY_KEY=<your API key goes here>
OPENAI_API_KEY=any_value
TAVILY_API_KEY=<Optional: Tavily API Key>
SQL_URL=postgresql://postgres:humanafterall@localhost:5432/reviews_db
NGROK_AUTHTOKEN=<Optional: NGROK Token>
LANGSMITH_API_KEY=<Optional Langsmit Key>
OPENAI_BASE_URL=<base_url>
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_MODEL=gpt-4o-mini
API_GATEWAY_HEADER=x-api-key